<div class="navbar-collapse collapse templatemo-sidebar">
    <ul class="templatemo-sidebar-menu">
        <li><a asp-action="Index"><i class="fa fa-home"></i>Trang chủ</a></li>
        <li><a href="/Data/Visualization"><i class="fa fa-cubes"></i>Báo cáo dữ liệu</a></li>
        <li><a href="/Map"><i class="fa fa-map-marker"></i>Sơ đồ phòng</a></li>
        <li><a href="/User/Tables"><i class="fa fa-users"></i>Quản lý sinh viên</a></li>
        <li><a href="/Account/Preferences"><i class="fa fa-cog"></i>Quản lý cơ sở vật chất</a></li>
        <li><a href="/Account/Login"><i class="fa fa-sign-out"></i>Đăng nhập</a></li>
    </ul>
</div>