@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Components/Employees/EmployeesLayout.cshtml";
}
    <div class="templatemo-content">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/templatemo_main.css">
        <!--
        Dashboard Template
        http://www.templatemo.com/preview/templatemo_415_dashboard
        -->

        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo2">
                    <form class="navbar-form" role="search" onsubmit="return false;">
                        <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
                        <button type="submit" class="btn btn-default">Go</button>
                    </form>
                </div>


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="template-page-wrapper">
            <div class="navbar-collapse collapse templatemo-sidebar">
                <ul class="templatemo-sidebar-menu">
                    <li class="active"><a href="#"><i class="fa fa-home"></i>LM1&gt;</a></li>
                   
                    <li class="sub open">
                        <a href="#">
                        </a><a href="javascript:;">
                            <i class="fa fa-database"></i> LM2 <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">
                        </ul>
                    </li>
                    <li><a href="data-visualization.html"><i class="fa fa-cubes"></i><span class="badge pull-right">9</span>Data LM3</a></li>
                    <li><a href="maps.html"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>LM4</a></li>
                    <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>LM5</a></li>
                    <li><a href="preferences.html"><i class="fa fa-cog"></i>LM6</a></li>
                    <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                </ul>
            </div><!--/.navbar-collapse -->

            <div class="templatemo-content-wrapper">
                <div class="templatemo-content">
                    <ol class="breadcrumb">
                        <li><a href="index.html">RB1</a></li>
                        <li><a href="#">RB2</a></li>
                        <li class="active">RB3</li>
                        <li><a href="sign-in.html">RB4</a></li>
                    </ol>
                    <h1>Thông tin chung</h1>
                    <p>Thông tin 1 và siêu kết nối <a href="http://chartjs.org">Chart JS</a>, <a href="http://getbootstrap.com">Bootstrap</a>, và <a href="http://jqvmap.com">JQVMap</a>. Thông tin giữa <a href="#">free website templates</a> Thông tin sau.</p>

                    <div class="margin-bottom-30">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#">MR1 row1<span class="badge">42</span></a></li>
                                    <li class="active"><a href="#">MR2 row2<span class="badge">126</span></a></li>
                                    <li class="active"><a href="#">MR3 row3<span class="badge">14</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="templatemo-alerts">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            <strong>Thông báo 1</strong> Thông tin thông báo 1
                                        </div>
                                        <div class="alert alert-info alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            Thông báo 2
                                        </div>
                                        <div class="alert alert-warning alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            Thông báo 3
                                        </div>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                            Thông báo 4
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="templatemo-progress">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            <h4 class="list-group-item-heading">Thông tin</h4>
                                            <p class="list-group-item-text">list group item heading</p>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <h4 class="list-group-item-heading">Thông tin</h4>
                                            <p class="list-group-item-text">list group item heading</p>
                                        </a>
                                    </div>
                                    <!-- Progress bar -->
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 35%">
                                            <span class="sr-only">35% Complete (success)</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                                            <span class="sr-only">20% Complete (warning)</span>
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: 10%">
                                            <span class="sr-only">10% Complete (danger)</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="sr-only">45% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="templatemo-panels">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 margin-bottom-30">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">Biểu đồ đường</div>
                                        <canvas id="templatemo-line-chart" height="108" width="453" style="width: 567px; height: 136px;"></canvas>
                                    </div>
                                    <span class="btn btn-success"><a href="data-visualization.html">Thêm thông tin biểu đồ</a></span>
                                </div>
                                <div class="col-md-6 col-sm-6 margin-bottom-30">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Thông tin người dùng</div>
                                        <div class="panel-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Mã</th>
                                                        <th>Tên</th>
                                                        <th>Họ</th>
                                                        <th>Tên đăng nhập</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>John</td>
                                                        <td>Smith</td>
                                                        <td>js</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Bill</td>
                                                        <td>Jones</td>
                                                        <td>bj</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Marry</td>
                                                        <td>James</td>
                                                        <td>mj</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <span class="btn btn-primary"><a href="tables.html">Xem bảng</a></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist" id="templatemo-tabs">
                                        <li class="active"><a href="#home" role="tab" data-toggle="tab">Chọn checkbox</a></li>
                                        <li><a href="#profile" role="tab" data-toggle="tab">Chọn listbox1</a></li>
                                        <li><a href="#messages" role="tab" data-toggle="tab">Chọn listbox1</a></li>
                                        <li><a href="#settings" role="tab" data-toggle="tab">Chọn listbox1</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="home">
                                            <ul class="list-group">
                                                <li class="list-group-item"><input type="checkbox" name="" value=""> checkbox1</li>
                                                <li class="list-group-item"><input type="checkbox" name="" value=""> checkbox1</li>
                                                <li class="list-group-item"><input type="checkbox" name="" value=""> checkbox1</li>
                                                <li class="list-group-item"><input type="checkbox" name="" value=""> checkbox1</li>
                                                <li class="list-group-item"><input type="checkbox" name="" value=""> checkbox1</li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="profile">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="badge">33</span>
                                                    listgroup1
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">9</span>
                                                    listgroup1
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">0</span>
                                                    listgroup1
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">14</span>
                                                    listgroup1
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">2</span>
                                                    listgroup1
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="messages">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item active">
                                                    listgroup2
                                                </a>
                                                <a href="#" class="list-group-item">listgroup2</a>
                                                <a href="#" class="list-group-item">listgroup2</a>
                                                <a href="#" class="list-group-item">listgroup2</a>
                                                <a href="#" class="list-group-item">listgroup2</a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="settings">
                                            <div class="list-group">
                                                <a href="#" class="list-group-item disabled">
                                                    listgroup3
                                                </a>
                                                <a href="#" class="list-group-item">listgroup3</a>
                                                <a href="#" class="list-group-item">listgroup3</a>
                                                <a href="#" class="list-group-item">listgroup3</a>
                                                <a href="#" class="list-group-item">listgroup3</a>
                                            </div>
                                        </div>
                                    </div> <!-- tab-content -->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Bảng thông tin 1
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    Nội dung bảng thông tin 1.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                        Bảng thông tin 2
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Nội dung bảng thông tin 2.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        Bảng thông tin 3
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
                                                        Chỉ dẫn
                                                    </button> Để làm gì?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Bạn có chắc chắn muốn đăng xuất?</h4>
                            </div>
                            <div class="modal-footer">
                                <a href="sign-in.html" class="btn btn-primary">Có</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/Chart.min.js"></script>
            <script src="js/templatemo_script.js"></script>
            <script type="text/javascript">
                  // Line chart
                  var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
                  var lineChartData = {
                    labels : ["January","February","March","April","May","June","July"],
                    datasets : [
                    {
                      label: "My First dataset",
                      fillColor : "rgba(220,220,220,0.2)",
                      strokeColor : "rgba(220,220,220,1)",
                      pointColor : "rgba(220,220,220,1)",
                      pointStrokeColor : "#fff",
                      pointHighlightFill : "#fff",
                      pointHighlightStroke : "rgba(220,220,220,1)",
                      data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                    },
                    {
                      label: "My Second dataset",
                      fillColor : "rgba(151,187,205,0.2)",
                      strokeColor : "rgba(151,187,205,1)",
                      pointColor : "rgba(151,187,205,1)",
                      pointStrokeColor : "#fff",
                      pointHighlightFill : "#fff",
                      pointHighlightStroke : "rgba(151,187,205,1)",
                      data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                    }
                    ]

                  }

                  window.onload = function(){
                    var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
                    window.myLine = new Chart(ctx_line).Line(lineChartData, {
                      responsive: true
                    });
                  };

                  $('#myTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                  });

                  $('#loading-example-btn').click(function () {
                    var btn = $(this);
                    btn.button('loading');
                    // $.ajax(...).always(function () {
                    //   btn.button('reset');
                    // });
                });
            </script>
            <script src="/_framework/aspnetcore-browser-refresh.js"></script>


        </div>
    </div>