<div class="template-page-wrapper">
    <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
            <li><a href="/Students"><i class="home"></i>Trang chủ</a></li>
            <li><a href="/Students/DangKyPhong"><i class="ticket"></i>Đăng kí nội trú</a></li>
            <li><a href="/Students/MyRoom"><i class="marker"></i>Phòng ở hiện tại</a></li>
            <li><a href="/Students/PaymentHistory"><i class="credit-card"></i>Thanh toán</a></li>
            <li><a href="/Students/Hoso"><i class="users"></i>Hồ sơ sinh viên</a></li>
        </ul>
    </div>
</div>