<div id="main-wrapper">
    <div class="header-brand">
        <div class="brand-left">
            <img src="/images/logo1.png" alt="Logo" class="brand-logo">
            <div class="brand-names">
                <div class="school-vi">Trường ĐH Giao thông vận tải</div>
                <div class="school-en">UNIVERSITY OF TRANSPORT AND COMMUNICATIONS</div>
            </div>
        </div>

        <div class="brand-title">
            Ban quản lý ký túc xá sinh viên
        </div>
    </div>
</div>